Package            Version
------------------ --------
black              24.4.2
certifi            2024.7.4
charset-normalizer 3.3.2
click              8.1.7
elastic-transport  8.13.1
elasticsearch      8.14.0
idna               3.7
isort              5.13.2
mypy-extensions    1.0.0
packaging          24.1
pathspec           0.12.1
pip                24.1.2
platformdirs       4.2.2
requests           2.32.3
setuptools         59.6.0
tomli              2.0.1
typing_extensions  4.12.2
urllib3            2.2.2
